<h2>Widget {{widgets.length}}</h2>
<div *ngFor="let widget of widgets">
  <div [ngSwitch]="widget.widgetType">
    <div *ngSwitchCase="'HEADING'">
      <h1>Heading Widget : {{widget.name}}</h1>

      <div [ngSwitch]="widget.size">
        <h1 *ngSwitchCase="1">{{widget.text}}</h1>
        <h2 *ngSwitchCase="2">{{widget.text}}</h2>
        <h3 *ngSwitchCase="3">{{widget.text}}</h3>
        <h4 *ngSwitchCase="4">{{widget.text}}</h4>
        <h5 *ngSwitchCase="5">{{widget.text}}</h5>
        <h6 *ngSwitchCase="6">{{widget.text}}</h6>
      </div>
    </div>
    <div *ngSwitchCase="'LINK'">
      <h1>Link Widget : {{widget.name}}</h1>

      <a href="{{widget.link}}">{{widget.link_text}}</a>
    </div>
    <div *ngSwitchCase="'IMAGE'">
      <h1>Image Widget : {{widget.name}}</h1>

      <img class="mw-100" src={{widget.link}} alt="random-Pic">
    </div>
    <div *ngSwitchCase="'LIST'">
      <h1>List Widget : {{widget.name}}</h1>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let item of widget.options.split('\n')">
          {{item}}
        </li>
      </ul>
    </div>
    <div *ngSwitchCase="'PARAGRAPH'">
      <h1>Paragraph Widget : {{widget.name}}</h1>
      <p>Paragraph</p>
    </div>
  </div>
</div>
